*{
    margin: 100;
    padding: 100;
}

#titulo{
    font-family: cursive;
    color: deeppink;
    margin-left: 7%;
}
#subtitulo{
    font-family: cursive;
    color: deeppink;
    margin-left: 10%;
}
fieldset{
    border: 1;
}
body{
    background-image: url(ScoobyDooMystery2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: blue;
    font-family: cursive;
    font-size: 1em;
    color: deeppink;
    margin-left: 20%;
    margin-top: 2%;
    justify-content: center;
}